@using WebAPI.Common.Executors
@using WebAPI.Dashboard.Commands.Time
@model WebAPI.Common.Indexes.StatsPerApiKey.Stats

<div class="box box-widget widget-user-2">
    <div class="widget-user-header bg-black-gradient">
        <h3 class="widget-user-username">@Model.Key</h3>
        <h5 class="widget-user-desc">Handled Requests: <span class="badge bg-yellow-active">@Model.UsageCount.ToString("#,##0")</span></h5>
    </div>
    <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
            <li><strong>Type:</strong><span class="pull-right">@Model.Type</span>
            <li><strong>Status:</strong><span class="pull-right">@Model.Status</span>
            <li><strong>App Status:</strong><span class="pull-right">@Model.ApplicationStatus</span>
            <li><strong>Pattern:</strong><span class="pull-right">@Model.Pattern</span>
            <li><strong>Last Used:</strong><span class="pull-right">@CommandExecutor.ExecuteCommand(new CalculateTimeAgoCommand(Model.LastUsed))</span>
            <li><strong>Requests To Date:</strong><span class="pull-right">@Model.UsageCount.ToString("#,##0")</span>
        </ul>
    </div>
</div>
