@using WebAPI.Common.Executors
@using WebAPI.Dashboard.Commands.Time
@model dynamic
@{
    ViewBag.Title = "AGRC Web API Analytics";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="home">
    <h2>
        API Analytics
    </h2>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        @Html.ErrorBox()
        @Html.MessageBox()
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        @Model.Users
                    </h3>
                    <p>Total Users</p>
                </div>
                <div class="icon">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                @Html.ActionLink("All Users", "UserList", new
                {
                    Controller = "Home",
                    Area = "Admin"
                }, new
                {
                    @class = "small-box-footer"
                })
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.Keys</h3>
                    <p>Total Keys</p>
                </div>
                <div class="icon">
                    <i class="glyphicon glyphicon-briefcase"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="small-box bg-orange">
                <div class="inner">
                    <h4>@Model.MostUsedKey.Item1</h4>
                    <p>Most Used Key</p>
                    <p>@Model.MostUsedKey.Item2.ToString("#,##")</p>
                </div>
                <div class="icon">
                    <i class="glyphicon glyphicon-fire"></i>
                </div>
                    @Html.ActionLink("Api Key Info", "KeyStats", new
                    {
                        Controller = "Home",
                        Area = "Admin",
                        key = Model.MostUsedKey.Item1.ToString()
                    }, new
                    {
                        @class = "small-box-footer"
                    })
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h4>@Model.LastUsedKey.Item1</h4>
                    <p>Last Used Key</p>
                    <p>@CommandExecutor.ExecuteCommand(new CalculateTimeAgoCommand(Model.LastUsedKey.Item2))</p>
                </div>
                <div class="icon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </div>
                    @Html.ActionLink((string) Model.LastUsedKey.Item1, "KeyStats", new
                    {
                        Controller = "Home",
                        Area = "Admin",
                        key = Model.LastUsedKey.Item1.ToString()
                    }, new
                    {
                        @class = "small-box-footer"
                    })
            </div>
        </div>
        <div class="col-md-4 col-md-6">
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>@Model.TotalRequests.ToString("0,##")</h3>
                    <p>Total Requests Handled</p>
                </div>
                <div class="icon">
                    <i class="glyphicon glyphicon-signal"></i>
                </div>
            </div>
        </div>
    </div>
</div>