@using WebAPI.Common.Executors
@using WebAPI.Dashboard.Commands.Time
@model dynamic
@{
    ViewBag.Title = "AGRC Web API Analytics";
}

<div id="home">
    <h2 class="text-center">
        API Analytics
    </h2>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        @Html.ErrorBox()
        @Html.MessageBox()
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="small-box bg-orange">
                <div class="inner">
                    <h4>@Model.MostUsedKey.Item1</h4>
                    <p>Most Used Key</p>
                    <p>@Model.MostUsedKey.Item2.ToString("#,##")</p>
                </div>
                <div class="icon">
                    <i class="glyphicon glyphicon-fire"></i>
                </div>
                <a href="@Url.Action("KeyStats", new
                         {
                             Controller = "Home",
                             Area = "Admin",
                             key = Model.MostUsedKey.Item1.ToString()
                         })" class="small-box-footer">
                    Key Info
                    <i class="glyphicon glyphicon-share-alt"></i>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        @Model.Users
                    </h3>
                    <p>Total Users</p>
                </div>
                <div class="icon">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                <a href="@Url.Action("UserList", new
                         {
                             Controller = "Home",
                             Area = "Admin"
                         })" class="small-box-footer">
                    All Users
                    <i class="glyphicon glyphicon-share-alt"></i>
                </a>
            </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="small-box bg-red">
                <div class="inner">
                    <h4>@Model.LastUsedKey.Item1</h4>
                    <p>Last Used Key</p>
                    <p>@CommandExecutor.ExecuteCommand(new CalculateTimeAgoCommand(Model.LastUsedKey.Item2))</p>
                </div>
                <div class="icon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </div>
                <a href="@Url.Action("KeyStats", new
                         {
                             Controller = "Home",
                             Area = "Admin",
                             key = Model.LastUsedKey.Item1.ToString()
                         })" class="small-box-footer">
                    Key Info
                    <i class="glyphicon glyphicon-share-alt"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-4 col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-light-blue">
                    <i class="glyphicon glyphicon-briefcase"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Total API Keys Created</span>
                    <span class="info-box-number">@Model.Keys</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-black">
                    <i class="glyphicon glyphicon-signal"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Requests Handled</span>
                    <span class="info-box-number">@Model.TotalRequests.ToString("#,##0")</span>
                </div>
            </div>
        </div>
    </div>
</div>