@model IEnumerable<WebAPI.Common.Models.Raven.Users.Account>
@{
    ViewBag.Title = "AGRC Web API Analytics";
}

<div id="home">
    <h2>
        API Analytics
    </h2>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        @Html.ErrorBox()
        @Html.MessageBox()
    </div>
</div>
<div class="container-fluid">
    @{
        const int itemsPerRow = 4;
        var i = 0;
        foreach (var account in Model)
        {
            if (i == itemsPerRow || (i > 0 && i % itemsPerRow == 0))
            {
                @:</div>
            }
            
            if (i % itemsPerRow == 0)
            {
                @:<div class="row">
            }
                    <div class="col-md-3 col-sm-6">
                        <div class="caption">
                            <h4>
                                @Html.ActionLink(account.Email, "UserStats", new
            {
                Controller = "Home",
                Area = "Admin",
                email = account.Email
            })
                            </h4>
                            <p>
                                @if (!string.IsNullOrEmpty(account.Name))
                                {
                                    <span class="glyphicon glyphicon-user"></span>
                                    @account.Name
                                }
                                @if (!string.IsNullOrEmpty(account.Company))
                                {
                                    <br/>
                                    <span class="glyphicon glyphicon-briefcase"></span>
                                    @account.Company
                                }
                            </p>
                        </div>
                    </div>
            i++;
        }
    }
</div>