<!DOCTYPE html>
<meta charset="utf-8">
<title>@ViewBag.Title</title>
<link rel="shortcut icon" href="//gis.utah.gov/images/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
@Styles.Render("~/content/adminbundles")
@Scripts.Render("~/bundles/jquery")
<body>
<div id="wrap" class="bg-gray">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" id="home">
                    <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 574.94 605.32" style="margin-top:-15px">
                        <defs>
                            <clipPath id="clip-path">
                                <path id="Inside" d="M-4621.78 5853.47h-38.26l48.47-83.95-34.12-59.09h-68.24l-34.11 59.09 48.46 83.95h-38.26l-48.46-83.95 53.24-92.23h106.5l53.25 92.23-48.47 83.95z" class="cls-2" />
                            </clipPath>
                            <filter id="luminosity-invert" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                                <feColorMatrix values="-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0" />
                            </filter>
                            <style type="text/css">
                                .cls-16, .cls-2 {
                                    fill: none
                                }

                                .cls-2 {
                                    stroke: #292b2a;
                                    stroke-width: 2px
                                }

                                .cls-16, .cls-2 {
                                    stroke-miterlimit: 10
                                }

                                .cls-15 {
                                    fill: #fff
                                }

                                .cls-16 {
                                    stroke: #231528;
                                    stroke-width: 80px
                                }
                            </style>
                            <mask id="mask" width="532.13" height="532.13" x="21.36" y="36.52" maskUnits="userSpaceOnUse">
                                <circle cx="287.43" cy="302.59" r="266.07" fill="#231f20" filter="url(#luminosity-invert)" />
                            </mask>
                        </defs>
                        <g style="isolation:isolate">
                            <g id="web_api" data-name="web api">
                                <g mask="url(#mask)" style="mix-blend-mode:color-dodge;isolation:isolate">
                                    <path fill="#f7ea99" d="M464.12 356.88c-18.26 12.58-24.48 26-20.22 43.47 4.11 16.82 18.12 28.46 29.15 35.26a129 129 0 0 0 15.95 8.28V343.24a154.1 154.1 0 0 0-24.88 13.64Z" />
                                    <path fill="#eaca00" d="M460.36 456.16C439 443 425.24 425.68 420.45 406.08c-6.72-27.48 3.36-50.73 30-69.07 12.2-8.42 25.3-14.64 38.58-20v-31.26a791.5 791.5 0 0 1-5.85 1.9c-26.47 8.42-51.42 16.35-71.4 36.35l-.51.52a67.43 67.43 0 0 0-8.38 10.39c-11.7 17.82-16.19 42.68-12.35 68.2a113.26 113.26 0 0 0 7.83 27.74 104.24 104.24 0 0 0 6.54 12.76c22.82 37.93 65.73 51.88 84.08 56.28v-30a164.25 164.25 0 0 1-28.63-13.73Z" />
                                    <path fill="#bd9955" d="M384.22 456.07a129 129 0 0 1-8.05-15.71 137.85 137.85 0 0 1-9.51-33.66c-4.71-31.32 1.12-62.31 16-85a92.17 92.17 0 0 1 11.37-14.11l.65-.64c24.1-24.1 53.06-33.33 81.08-42.27 4.47-1.43 8.85-2.83 13.18-4.28V184c-5 1.25-9.94 2.63-14.81 4.28-20.19 6.83-43.66 20.1-64.39 36.41-73.16 57.54-112.62 173.23-54.69 253.72 20.94 29.1 49.92 48.83 71.16 60.52h40.67a22.09 22.09 0 0 0 20.66-14.57c-19.19-3.98-73.79-19.25-103.32-68.29Z" />
                                    <path fill="#386b7d" d="M489 124v35.18a217.67 217.67 0 0 0-22.55 6.26c-22.7 7.67-48.78 22.36-71.58 40.28-81.95 64.47-125.37 195.09-59.35 286.81 13.71 19.06 30.19 34.35 46.2 46.42h-74.84c-38.28-41.31-55-90.27-49.65-146.53a241.11 241.11 0 0 1 7.07-38.93 285.44 285.44 0 0 1 10.13-31 840.72 840.72 0 0 1 12.4-29.66c16-37 31.11-71.87 27.3-117.57a242.34 242.34 0 0 0-4.61-31.14 222.1 222.1 0 0 0-5.42-20.33c-9.29-29.16-25.87-59.37-54.5-85.11a275.44 275.44 0 0 1 63.72 0v41.2a22.12 22.12 0 0 0 22.07 22.05h131.54a21.9 21.9 0 0 1 5.46.69 22.18 22.18 0 0 1 13.84 10.73A21.87 21.87 0 0 1 489 124Z" />
                                    <path fill="#2a515e" d="M273.48 538.94h-30.57c-27.57-41.11-54.8-97.15-59.44-162.45-2.63-37.09 7.5-74 17.31-109.73 5.41-19.71 11-40.09 14.43-60.38a166.81 166.81 0 0 0 2.29-35.29c-1.82-37-24.87-65-61.67-74.84a130 130 0 0 0-19.27-3.55 143.4 143.4 0 0 0-9-.69c25.29-22.75 55.57-38.36 88.55-47 30.66 21.61 52 50.54 63.48 86.6 1.85 5.8 3.46 11.84 4.78 18a218 218 0 0 1 4.12 27.83c3.28 39.26-10 69.82-25.27 105.21a887.24 887.24 0 0 0-12.77 30.54 314.42 314.42 0 0 0-11 33.75A269.5 269.5 0 0 0 231.6 390c-4.17 43.56 2.74 97.53 41.88 148.94Z" />
                                    <path fill="#4d2a54" d="M157.8 378.31c-2.94-41.47 7.78-80.56 18.2-118.31 5.48-20 10.66-38.85 13.88-57.87a140.74 140.74 0 0 0 1.95-29.71c-1.27-26.06-16.4-44.26-42.59-51.25a102.36 102.36 0 0 0-15.42-2.83 136 136 0 0 0-17.38-.71c-21.13.37-42.57 4.82-64.44 10.13v55.94c31.68-2.74 76.14 1.14 91.31 40.4a77.59 77.59 0 0 1 4.81 28.44 123.22 123.22 0 0 1-1.83 20.15c-3.59 21.3-10.53 41.36-17.22 60.75-8.23 23.82-16 46.32-17.87 70.53-.38 4.8-.6 9.52-.7 14.19a251.18 251.18 0 0 0 1.22 30.1c3.61 35.86 14.5 66.67 26.09 90.68H212c-26-42.27-49.68-97.03-54.2-160.63Z" />
                                    <path fill="#331c38" d="M86.1 450.82a277.34 277.34 0 0 1-1.34-33.18q.15-7.72.76-15.64c2.12-27.51 10.81-52.65 19.21-77 6.65-19.25 12.93-37.43 16.18-56.63a100.22 100.22 0 0 0 1.47-16 52.49 52.49 0 0 0-3.08-19.05c-9.48-24.53-42.91-26.13-67.31-23.7v307.26a22.12 22.12 0 0 0 22.06 22.06h35.35a295.77 295.77 0 0 1-23.3-88.12Z" />
                                </g>
                                <circle id="center_block_out" cx="288.49" cy="303.09" r="97.5" fill="#fff" data-name="center block out" opacity=".8" />
                                <g id="circles">
                                    <g id="outer_path" data-name="outer path" opacity=".5">
                                        <path d="M280.52 605.32a298.63 298.63 0 0 1-66.38-7.52c-77.29-17.61-143.36-64.35-186-131.6l70.94-45a214 214 0 0 0 133.78 94.71 210.76 210.76 0 0 0 253.03-160.66 214 214 0 0 0-28.76-161.37l70.93-45c42.69 67.25 56.86 146.93 39.9 224.37s-63.17 143.66-130 186.11a292.71 292.71 0 0 1-157.44 45.96Z" class="cls-15" />
                                        <path d="M46.88 456.46C4.19 389.21-10 309.53 7 232.09S70.15 88.43 137 46 283.38-10.13 360.8 7.52s143.36 64.35 186.05 131.6l-70.94 45a214 214 0 0 0-133.78-94.69A210.76 210.76 0 0 0 89.05 250.07a214 214 0 0 0 28.76 161.37Z" class="cls-15" />
                                    </g>
                                    <g id="outer_stroke" data-name="outer stroke">
                                        <path d="M501.14 167.85C428.86 54 279 19.83 166.11 91.5S20.33 313.29 92.61 427.15" class="cls-16" />
                                        <path d="M73.72 437.33c72.27 113.86 222.12 148 335 76.35S554.52 291.89 482.25 178" class="cls-16" />
                                    </g>
                                    <g id="inner">
                                        <path d="M380.11 242.85c36.14 56.93 19.7 132-36.75 167.83S212 429.43 175.85 372.5" class="cls-16" />
                                        <path d="M399 232.68c-36.13-56.94-111.06-74-167.51-38.18s-72.89 110.89-36.75 167.83" class="cls-16" />
                                    </g>
                                </g>
                                <path id="state" fill="#231528" d="M253.32 255.12v.06a.27.27 0 0 1-.12-.06s-3.6 94-3.16 94.25l75.7.41-1.92-76c.08 0 .12 0 .11-.14l-28.45.42c.09-.08 0-18.42 0-18.42h-.11c-.1 0-.11-.05 0-.15l-42.05-.41Z" />
                            </g>
                            <g id="SGID_30" data-name="SGID 30">
                                <path id="Inside-2" d="M-4621.78 5853.47h-38.26l48.47-83.95-34.12-59.09h-68.24l-34.11 59.09 48.46 83.95h-38.26l-48.46-83.95 53.24-92.23h106.5l53.25 92.23-48.47 83.95z" class="cls-2" data-name="Inside" />
                                <path id="Middle" d="m-4483.7 5769.52-98.06-169.83h-54.37v33.14h35.24l78.92 136.69-78.92 136.7h-157.84l-78.92-136.7 78.92-136.69h35.24v-33.14h-54.37l-98.05 169.83 98.05 169.83h196.1l98.06-169.83z" class="cls-2" />
                                <path id="Outside" d="m-4394.1 5769.52-142.85-247.43h-285.71l-142.85 247.43 142.85 247.43h79.86v-33.13h-60.73l-123.72-214.3 123.72-214.29h247.45l123.72 214.29-123.72 214.3h-71.35v33.13h90.48l142.85-247.43z" class="cls-2" />
                            </g>
                            <g id="SGID_wavy" data-name="SGID wavy">
                                <path id="SGID_clipping_mask" fill="none" stroke="#231f20" stroke-width="5" d="M3326.88 454.83h-55.06L3341.56 334l-49.09-85h-98.19l-49.09 85 69.74 120.79h-55.06L3090.13 334l76.62-132.71H3320L3396.62 334ZM3525.56 334l-141.1-244.34h-78.23v47.69h50.71L3470.5 334l-113.56 196.73h-227.13L3016.25 334l113.56-196.69h50.71V89.66h-78.24L2961.19 334l141.09 244.38h282.18Zm128.93 0L3448.94-22h-411.13l-205.55 356 205.55 356h140.74v-47.6h-113.21L2887.31 334l178-308.36h356.07l178 308.36-178 308.36h-117.84v47.68h145.4Z" data-name="SGID clipping mask" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="navbar-brand">
                    @Html.ActionLink("UGRC Web API", "Index", new
                    {
                        Controller = "Home"
                    }, new
                    {
                        @class = "brand"
                    })
                </div>
                </div>
                    <div class="navbar-collapse collapse" id="collapse">
                        <ul class="nav navbar-nav">
                            <li class="">
                                @Html.ActionLink("Console", "Index", new
                        {
                            Controller = "Home",
                            Area = "secure"
                        })
                            </li>
                            <li class="">
                                @Html.ActionLink("API Explorer", "Api", new
                        {
                            Controller = "Go",
                            Area = ""
                        })
                            </li>
                            @Html.Action("RenderAdminAnalyticLink")
                        </ul>
                        <p class="navbar-text navbar-right">
                            @Html.Action("RenderUserPanel")
                        </p>
                    </div>
                </div>
            </div>
    <div class="container">
        @RenderBody()
        @Scripts.Render("~/bundles/js")
        @Scripts.Render("~/bundles/bootstrap")
    </div>
    <div id="push"></div>
</div>
</body>