@model WebAPI.Dashboard.Models.ViewModels.MainViewModel
@{
    ViewBag.Title = "AGRC Web API Key Management";
}
<div id="home">
    <h2>
        API Key Management</h2>
</div>
<div class="row">
    <div class="offset3 span6">
        @Html.ErrorBox()
        @Html.MessageBox()
    </div>
</div>
<div class="row">
    <div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Uses
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Last Used
                    </th>
                    <th>
                        Pattern
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var apiKeyUsage in Model.AllUserKeys)
                {
                    <tr>
                        <td>
                            @apiKeyUsage.ApiKey
                        <span style="margin-top: 5px;" class="pull-right @apiKeyUsage.UseTypeIconCssClass">@apiKeyUsage.UseType</span>
                        </td>
                        <td>
                            <p class="text-right"> @apiKeyUsage.UsageCount</p>
                        </td>
                        <td>
                            @apiKeyUsage.Type
                        </td>
                        <td>
                            @apiKeyUsage.LastUsed
                        </td>
                        <td>
                            @apiKeyUsage.Pattern
                        </td>
                        <td>
                            <div class="btn-group pull-right">
                                <a href="#" class="btn @apiKeyUsage.ButtonCssClass"><i data-key="@apiKeyUsage.ApiKey" class="@apiKeyUsage.StutusIconCssClass">
                                                                                    </i>&nbsp;@apiKeyUsage.StatusIconText</a><a href="#" class="btn btn-danger" title="Delete Key">
                                                                                                                           <i data-key="@apiKeyUsage.ApiKey" class="icon-trash icon-white"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            ×</button>
        <h3>
            Woops!</h3>
    </div>
    <div class="modal-body alert-error">
        <p id="modal-content">
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-warning" data-dismiss="modal">Ok</a>
    </div>
</div>
<div class="row">
    <div class="well offset4 span2 c-text">
        @Html.ActionLink("Generate Key", "Index", new
        {
            Controller = "GenerateKey"
        }, new
        {
            id = "Create",
            @class = "btn",
            style = "margin-bottom:10px"
        })
        <span class="badge badge-inverse">@Model.KeyQuota.KeysUsed/@Model.KeyQuota.KeysAllowed
            used</span>
    </div>
</div>
<script>
    $(function() {
        var agrc = {
            config: {
                urls: {
                    del: '@Url.Action("DeleteKey")',
                    deactivate: '@Url.Action("PauseKey")',
                    activate: '@Url.Action("PlayKey")'
                }
            }
        };

        $("i.icon-trash").closest('a').on('click', function(e) {
            var icon = $("i", this),
                target = this;

            $.ajax(agrc.config.urls.del,
                {
                    data: { key: icon.data('key') },
                    type: "DELETE",
                    beforeSend: function() {
                        icon.removeClass('icon-trash')
                            .addClass('icon-time');
                    }
                }).done(function(response) {
                    if (!!response && !!response.status && response.status != 200) {
                        icon.removeClass("icon-time").addClass('icon-trash');
                        var modal = $('#modal');
                        $("#modal-content", modal).html(response.data);
                        modal.modal({ backdrop: false });

                        return;
                    }

                    $(target).closest("tr").remove();
                });
        });

        $("i.icon-play,i.icon-pause").closest('a').on('click', function(e) {
            var icon = $("i", this),
                target = this,
                activated = icon.hasClass('icon-pause'),
                url = activated ? agrc.config.urls.deactivate : agrc.config.urls.activate;

            $.ajax(url,
                {
                    data: { key: icon.data('key') },
                    type: "PUT",
                    beforeSend: function() {
                        icon.removeClass("icon-pause")
                            .removeClass('icon-play')
                            .addClass('icon-time');
                    }
                }).done(function(response) {
                    if (!!response && !!response.status && response.status != 200) {
                        icon.removeClass("icon-time").addClass(activated ? 'icon-play' : 'icon-pause');
                        var modal = $('#modal');
                        $("#modal-content", modal).html(response.data);
                        modal.modal({ backdrop: false });

                        return;
                    }

                    icon.removeClass("icon-time").addClass(!activated ? 'icon-pause' : 'icon-play');
                    var outerHtml = icon[0].outerHTML + '&nbsp;';
                    outerHtml += !activated ? 'Deactivate' : 'Activate';
                    $(target).removeClass('btn-success')
                        .removeClass('btn-inverse')
                        .addClass(!activated ? 'btn-inverse' : 'btn-success')
                        .html(outerHtml);
                });
        });
    });
</script>