@{
    ViewBag.Title = "UGRC Web API Access";
}
@model WebAPI.Dashboard.Models.ViewModels.MainViewModel
<div class="row">
    <h2 class="col-sm-6">
        Log in to manage your account
    </h2>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        @Html.ErrorBox()
        @Html.MessageBox()
    </div>
</div>
<div class="row" id="login">
    <div class="col-sm-6">
        @using (Html.BeginForm("Login", "AccountAccess", new
        {
            ReturnUrl = Request.QueryString["ReturnUrl"]
        }, FormMethod.Post, new
        {
            @class = "well form-horizontal"
        }))
        {
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="Email">
                        Email Address
                    </label>
                    <div class="col-sm-8">
                        @Html.TextBox("Email", null, new
                        {
                            @class = "form-control",
                            data_required = "",
                            @id = "Email"
                        })
                        <span class="help-inline label label-danger">required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="Password">
                        Password
                    </label>
                    <div class="col-sm-8">
                        @Html.Password("Password", null, new
                        {
                            @class = "form-control",
                            data_required = "",
                            @id = "Password"
                        })
                        <span class="help-inline label label-danger">required</span>
                    </div>
                </div>
                <div class="form-group col-sm-offset-1">
                    <div class="col-sm-8">
                        <button class="btn btn-success">
                            Log In
                        </button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
    <div class="col-sm-6">
        @using (Html.BeginForm("Register", "AccountAccess", FormMethod.Post, new
        {
            @class = "well form-horizontal"
        }))
        {
            <fieldset>
                <legend>Register</legend>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="Email">
                        Email Address
                    </label>
                    <div class="col-sm-8">
                        @Html.TextBox("Email", null, new
                        {
                            @class = "form-control",
                            data_required = "",
                            @id = "Email"
                        })
                        <span class="help-inline label label-danger">required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="Password">
                        Password
                    </label>
                    <div class="col-sm-8">
                        @Html.Password("Password", null, new
                        {
                            @class = "form-control",
                            data_required = "",
                            @id = "Password"
                        })
                        <span class="help-inline label label-danger">required</span>
                    </div>
                </div>
                <div class="form-group col-sm-offset-1">
                    <div class="col-sm-8">
                        <button class="btn btn-success">
                            Register
                        </button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
<div class="row">
    <h2 class="col-sm-offset-6 col-sm-6">
        Register to create an account
    </h2>
</div>