@{
    ViewBag.Title = "AGRC Web API Access";
}
@model WebAPI.Dashboard.Models.ViewModels.MainViewModel
<div class="row">
    <h2 class="span6">
        Log in to manage your account</h2>
</div>
<div class="row">
    <div class="offset3 span6">
        @Html.ErrorBox()
        @Html.MessageBox()
    </div>
</div>
<div class="row" id="login">
    <div class="span6">
        @using (Html.BeginForm("Login", "AccountAccess", new
        {
            ReturnUrl = Request.QueryString["ReturnUrl"]
        }, FormMethod.Post, new
        {
            @class = "well form-horizontal"
        }))
        {
            <fieldset>
                <legend>Login</legend>
                <div class="control-group">
                    <label class="control-label" for="Email">
                        Email Address
                    </label>
                    <div class="controls">
                        @Html.TextBox("Email", null, new
                        {
                            style = "input-large",
                            data_required = "",
                            @id = "Email",
                            MaxLength = "30"
                        })
                        <span class="help-inline label label-important">required</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Password">
                        Password
                    </label>
                    <div class="controls">
                        @Html.Password("Password", null, new
                        {
                            style = "input-large",
                            data_required = "",
                            @id = "Password"
                        })
                        <span class="help-inline label label-important">required</span>
                    </div>
                </div>
                <div class="control-group offset1">
                    <div class="controls">
                        <button class="btn btn-success">
                            Log In</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
    <div class="span6">
        @using (Html.BeginForm("Register", "AccountAccess", FormMethod.Post, new
        {
            @class = "well form-horizontal"
        }))
        {
            <fieldset>
                <legend>Register</legend>
                <div class="control-group">
                    <label class="control-label" for="Email">
                        Email Address
                    </label>
                    <div class="controls">
                        @Html.TextBox("Email", null, new
                        {
                            style = "input-large",
                            data_required = "",
                            @id = "Email",
                            MaxLength = "30"
                        })
                        <span class="help-inline label label-important">required</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Password">
                        Password
                    </label>
                    <div class="controls">
                        @Html.Password("Password", null, new
                        {
                            style = "input-large",
                            data_required = "",
                            @id = "Password"
                        })
                        <span class="help-inline label label-important">required</span>
                    </div>
                </div>
                <div class="control-group offset1">
                    <div class="controls">
                        <button class="btn btn-success">
                            Register</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
<div class="row">
    <h2 class="offset6 span6">
        Register to create an account</h2>
</div>