@model WebAPI.Dashboard.Models.ViewModels.MainViewModel
@{
    ViewBag.Title = "Password Reset";
}
<div id="home">
    <div class="pull-right">
        @Html.ActionLink("Log Out", "Logout")
    </div>
</div>
<div class="col-sm-offset-3 col-sm-6">
    @Html.ErrorBox()
    @Html.MessageBox()
</div>
@using (Html.BeginForm("Reset", "AccountAccess", FormMethod.Post, new
{
    @class = "form-horizontal", style = "padding-top:50px;"
}))
{
    <div class="col-sm-offset-3 well col-sm-6">
        <h2>
            Reset your password
        </h2>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="email">
                Email Address:
            </label>
            <div class="col-sm-6">
                <div class="input-group">
                    @Html.TextBox("Email", Model.User.Email,
                        new
                        {
                            required = "true",
                            type = "email",
                            @class = "form-control"
                        })
                    <div class="input-group-btn">
                        @Html.Button("Reset", new
                        {
                            @class = "btn btn-primary"
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
}