@{
    ViewBag.Title = "AGRC Web API Profile";
}
@model WebAPI.Dashboard.Models.ViewModels.MainViewModel
<div id="home">
    <h2>
        Keep your profile current!
    </h2>
</div>
@using (Html.BeginForm("UpdateProfile", "Profile", FormMethod.Post, new
{
    @class = "form-horizontal"
}))
{
    <div class="col-sm-offset-3 col-sm-6" id="message">
        @Html.ErrorBox()
        @Html.MessageBox()
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.Partial("Email", Model.User)
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="FirstName">
                    First Name
                </label>
                <div class="col-sm-8">
                    @Html.TextBox("FirstName", Model.User.FirstName, new
                    {
                        @class = "form-control",
                        data_required = "",
                        @id = "FirstName"
                    })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="LastName">
                    Last Name
                </label>
                <div class="col-sm-8">
                    @Html.TextBox("LastName", Model.User.LastName, new
                    {
                        @class = "form-control",
                        data_required = "",
                        @id = "LastName"
                    })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="Company">
                    Company
                </label>
                <div class="col-sm-8">
                    @Html.TextBox("Company", Model.User.Company, new
                    {
                        @class = "form-control",
                        data_required = "",
                        @id = "Company"
                    })
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="JobCategoery">
                    Job Category
                </label>
                <div class="col-sm-8">
                    @Html.TextBox("JobCategory", Model.User.JobCategory, new
                    {
                        @class = "form-control",
                        data_required = "",
                        @id = "JobCategory"
                    })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="JobTitle">
                    Job Title
                </label>
                <div class="col-sm-8">
                    @Html.TextBox("JobTitle", Model.User.JobTitle, new
                    {
                        @class = "form-control",
                        data_required = "",
                        @id = "JobTitle"
                    })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="CodingExperience">
                    Coding Experience
                </label>
                <div class="col-sm-8">
                    @Html.TextBox("CodingExperience", Model.User.CodingExperience, new
                    {
                        @class = "form-control",
                        data_required = "",
                        @id = "CodingExperience"
                    })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="ContactRoute">
                    Contact Route
                </label>
                <div class="col-sm-8">
                    @Html.TextBox("ContactRoute", Model.User.ContactRoute, new
                    {
                        @class = "form-control",
                        data_required = "",
                        @id = "ContactRoute"
                    })
                    <p class="help-block">
                        Please enter your twitter handle, email address, phone number, or whatever method
                        you would like us to use to contact you for any reason.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-9 col-xs-offset-1 col-sm-11">
            <div class="form-group">
                <div class="btn-group">
                    @Html.Button("Update", new
                    {
                        @class = "btn btn-success", name = "FormAction", value = "Update"
                    })
                    @Html.Button("Update and go to Console", new
                    {
                        @class = "btn btn-primary", name = "FormAction", value = "UpdateAndGo"
                    })
                    @Html.Button("Change Password", new
                    {
                        id = "changePassword",
                        @class = "btn btn-danger"
                    })
                    @Html.ActionLink("Console", "Index", new
                    {
                        Controller = "Home"
                    }, new
                    {
                        @class = "btn btn-default"
                    })
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("UpdatePassword", "Profile", FormMethod.Post, new
{
    @class = "form-horizontal"
}))
{
    <div id="passwordContainer" class="row" style="display: none;">
        <div class="col-sm-offset-3 col-sm-5">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="panel-title">Update Password</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="CurrentPassword">
                            Current Password
                        </label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                @Html.Password("CurrentPassword", null, new
                                {
                                    @class = "form-control",
                                    data_required = "",
                                    id = "CurrentPassword"
                                })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="NewPassword">
                            New Password
                        </label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                @Html.Password("NewPassword", null, new
                                {
                                    @class = "form-control",
                                    data_required = "",
                                    id = "NewPassword"
                                })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="ConfirmPassword">
                            Confirm New Password
                        </label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                @Html.Password("ConfirmPassword", null, new
                                {
                                    @class = "form-control",
                                    data_required = "",
                                    id = "ConfirmPassword"
                                })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5">
                            <button class="btn btn-danger" id="change">
                                Change
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function() {
        $('#confirm').on('click', function(e) {
            e.preventDefault();
            $(e.target).addClass('disabled');
            $.post('@Url.Action("GenerateConfirmation")').done(function() {
                $(e.target).removeClass('disabled');
                $('#message').html('<div class="alert alert-success text-center">Confirmation email sent.</div>');
            });

            return false;
        });

        $('#changePassword')
            .on('click', function(e) {
                e.preventDefault();
                $('#passwordContainer').slideToggle('slow', 'swing', function() {
                    $('#CurrentPassword').focus();
                });

                return false;
            });

        $('#change').on('click', function(e) {
            var newPassword = $('#NewPassword'),
                confirmPassword = $('#ConfirmPassword'),
                currentPassword = $('#CurrentPassword'),
                toggleState = function(node) {
                    if ($.isArray(node)) {
                        $(node).each(function() {
                            this.closest('.form-group')
                                .addClass('error');
                        });
                    } else {
                        $(node).closest('.form-group')
                            .addClass('error');
                    }
                };

            $('div.form-group').removeClass('error');

            if (newPassword.val() === '') {
                e.preventDefault();
                toggleState(newPassword);
            }

            if (confirmPassword.val() === '') {
                e.preventDefault();
                toggleState(confirmPassword);
            }

            if (currentPassword.val() === '') {
                e.preventDefault();
                toggleState(currentPassword);
            }

            if (newPassword.val() !== confirmPassword.val()) {
                toggleState([newPassword, confirmPassword]);
                e.preventDefault();
                return false;
            }
        });
    });
</script>