@{
    ViewData["Title"] = "AGRC Web API Key Management";
}
@model developer.mapserv.utah.gov.Areas.Secure.Models.ViewModels.KeyManagementViewModel
<div id="home">
    <h2>
        Your API Keys
    </h2>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6" id="message">
        <notification error="@ViewData["error"]" message="@ViewData["message"]" />
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-offset-3 col-sm-6">
        <a asp-action="generatekey" asp-controller="Home" asp-area="secure" id="Create" class="btn btn-success" style="margin-bottom:10px;display:block">Generate Key</a>
        <p class="badge">
            @Model.KeysUsed / @Model.KeysAllowed
            used
        </p>
    </div>
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Key</th>
                    <th class="hidden-xs hidden-sm">Created</th>
                    <th class='hidden-xs hidden-sm'>Uses</th>
                    <th class="hidden-xs hidden-sm">Type</th>
                    <td class="hidden-xs">Last Used</td>
                    <th class="hidden-xs">Pattern</th>
                    <th>Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @if(!Model.Keys.Any()) {
               <tr>
                    <td colspan="7" class="text-center">Go gerate your first key!</td>
               </tr>
            }
            @foreach (var key in Model.Keys)
            {
                <api-key-row key="@key"></api-key-row>
            }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h3 class="modal-title">
                    Woops!
                </h3>
            </div>
            <div class="modal-body alert-danger">
                <p id="modal-content">
                </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-warning" data-dismiss="modal">Ok</a>
            </div>
        </div>
    </div>
</div>
<script>$(function() {
        var agrc = {
            config: {
                urls: {
                    del: '@Url.Action("DeleteKey")',
                    deactivate: '@Url.Action("PauseKey")',
                    activate: '@Url.Action("PlayKey")'
                }
            }
        };

        $('i.glyphicon-trash').closest('a').on('click', function(e) {
            var icon = $('i', this);
            var target = this;
            var message = $('#message');

            $.ajax(agrc.config.urls.del,
                {
                    data: { key: icon.data('key') },
                    type: 'DELETE',
                    beforeSend: function() {
                        icon.removeClass('glyphicon-trash')
                            .addClass('glyphicon-time');
                        message.html('');
                    }
                }).done(function(response) {
                    if (!!response && !!response.status && response.status !== 200) {
                        icon.removeClass('glyphicon-time').addClass('glyphicon-trash');
                        var modal = $('#modal');
                        $('#modal-content', modal).html(response.data);
                        modal.modal({ backdrop: false });

                        return;
                    }

                    $(target).closest('tr').remove();
                });
        });

        $('i.glyphicon-play, i.glyphicon-pause').closest('a').on('click', function(e) {
            var icon = $('i', this),
                target = this,
                activated = icon.hasClass('glyphicon-pause'),
                url = activated ? agrc.config.urls.deactivate : agrc.config.urls.activate;

            $.ajax(url,
                {
                    data: { key: icon.data('key') },
                    type: 'PUT',
                    beforeSend: function() {
                        icon.removeClass('glyphicon-pause')
                            .removeClass('glyphicon-play')
                            .addClass('glyphicon-time');
                    }
                }).done(function(response) {
                    if (!!response && !!response.status && response.status !== 200) {
                        icon.removeClass('glyphicon-time').addClass(activated ? 'glyphicon-play' : 'glyphicon-pause');
                        var modal = $('#modal');
                        $('#modal-content', modal).html(response.data);
                        modal.modal({ backdrop: false });

                        return;
                    }

                    icon.removeClass('glyphicon-time').addClass(!activated ? 'glyphicon-pause' : 'glyphicon-play');
                    var outerHtml = icon[0].outerHTML + '&nbsp;';
                    outerHtml += !activated ? 'Deactivate' : 'Activate';
                    $(target).removeClass('btn-success')
                        .removeClass('btn-warning')
                        .addClass(!activated ? 'btn-warning' : 'btn-success')
                        .html(outerHtml);
                });
        });
});</script>