---
import Chrome from '../layouts/Chrome.astro';

import { Image } from 'astro:assets';
import geocoding from '../assets/map.svg';
import screen from '../assets/screen.svg';
import search from '../assets/search.svg';
import thumb from '../assets/thumb.svg';
---

<Chrome>
  <section class="bg-slate-100 bg-hero-topography-wavy-10 p-6 border-b border-slate-400 shadow-xs">
    <div class="text-center mx-auto max-w-3xl">
      <h1 class="md:text-5xl text-3xl text-slate-800 font-extrabold tracking-tight mt-4 mb-0">
        Data to enrich your <span class="text-wavy-600">business</span>
      </h1>
      <h2 class="md:text-3xl text-2xl block text-slate-700 font-light tracking-tight m-0">
        An API to access <span class="font-semibold">Utah</span> geospatial data.
      </h2>
      <p class="md:text-lg text-base mt-3 font-normal text-slate-700 leading-relaxed tracking-wide">
        The Utah Geospatial Resource Center (UGRC) is the State of Utah's map technology coordination office. The UGRC
        creates, maintains, and stores geospatial data in the State Geographic Information Database (SGID), a one-stop
        shop to hundreds of data layers developed, aggregated, or acquired by state government. This web API gives you
        completely open access to
        <span class="text-2xl block text-wavy-600 font-bold tracking-tighter"> all of that data.</span>
      </p>
      <div class="flex justify-center md:my-4">
        <div
          class="max-w-xl w-full mt-6 md:mb-6 md:mt-10 flex sm:item-center justify-evenly flex-wrap bg-white p-5 rounded-lg border border-slate-300"
        >
          <h2 class="text-2xl leading-7 font-extrabold tracking-tight sm:text-2xl sm:leading-6 m-0">
            Ready to dive in?
            <br />
            <span class="text-wavy-600">Learn everything to start.</span>
          </h2>
          <div class="flex justify-center">
            <div class="flex mt-4 md:mt-0">
              <a
                href="/getting-started"
                class="px-5 py-3 rounded-md h-12 font-semibold shadow border-wavy-600 bg-wavy-500 text-white hover:border-wavy-700 hover:bg-wavy-600 focus:border-wavy-500 focus:ring-wavy-600 active:bg-wavy-700 flex min-h-[2rem] w-fit cursor-pointer items-center justify-center border-2 transition-all duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-opacity-50 disabled:cursor-not-allowed disabled:opacity-50"
              >
                Get started
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="w-full bg-wavy-800 bg-hero-circuit-board text-white">
    <div class="relative max-w-5xl mx-auto py-5 px-6">
      <div class="leading-relaxed tracking-wide">
        <h1 class="text-mustard-500 text-3xl font-bold col-span-2 lowercase">Simple, Spatial</h1>
        <p class="mt-0 text-lg ml-3">
          You can learn so much from a house address once it has been geocoded. When you geocode data, you unlock the
          ability to visualize the data in a different way. And you can use our search endpoint to answer endless
          questions about your addresses or location.
        </p>
        <h1 class="text-mustard-500 text-3xl font-bold col-span-2 lowercase mt-5">Trust the data</h1>
        <p class="mt-0 text-lg ml-3">
          UGRC was developed specifically to coordinate Utah-specific data, and we've been doing this for 30+ years.
          Other programs can provide you with similar data, but if you're looking for information that considers the
          nuances of Utah, this is it&mdash;we have the most comprehensive Utah geospatial data, and we want to share it
          with you.
        </p>
      </div>
    </div>
  </section>
  <section class="md:pt-4 px-6">
    <div class="mx-auto max-w-screen-lg pb-6">
      <div
        class="max-w-6xl grid grid-cols-1 md:grid-cols-2 gap-5 text-left font-light text-slate-600 leading-relaxed tracking-wide"
      >
        <div>
          <h1 class="text-2xl font-light text-wavy-600 col-span-2">What is geocoding</h1>
          <p class="mt-0 text-lg ml-3">
            Geocoding allows you to find a geographic location (i.e., the geographical coordinates) from an address.
            UGRC's geocoding philosophy is unique in that we would rather give you no match than the wrong match. But we
            assure you: we will have the best match rates for Utah addresses.
          </p>
          <p class="text-lg ml-3 mt-5">
            How can we be so sure?&mdash;Because we're the experts in Utah geospatial data.
          </p>
        </div>
        <div class="hidden md:flex justify-center self-center">
          <Image src={geocoding} alt="Map" />
        </div>
        <div class="hidden md:flex justify-center self-center">
          <Image src={search} alt="Search" />
        </div>
        <div>
          <h1 class="text-2xl font-light text-wavy-600 col-span-2">What is searching</h1>
          <p class="mt-0 text-lg ml-3">
            Searching allows you to search through more than{' '}
            <a href="https://gis.utah.gov/sgid" class="font-semibold">1,000,000</a> rows of spatial SGID data. With over
            <span class="font-semibold">300</span> layers of real-world data that you can run queries against in the
            SGID, the possibilities can be a little overwhelming. But the searching endpoint really opens up the
            opportunity for serious information gathering. You need a way to sift through all that information and make
            sense of it and our search endpoint can help you do that.
          </p>
        </div>
        <div>
          <h1 class="text-2xl font-light text-wavy-600 col-span-2">Location Matters</h1>
          <p class="mt-0 text-lg ml-3">
            The demand for <span class="font-semibold">geospatial</span> and{' '}
            <span class="font-semibold">location</span> based information has increased dramatically as many disciplines
            realize the power of spatial data. A customer's address stored in a database has only so many uses. With
            this API, the door opens to many spatial opportunities from <span class="font-semibold">visually</span>
             seeing customer locations on a map to being able to spatially analyze their relationship or patterns in
            conjunction with other events such as disease occurrences, natural disaster affected areas, and other
            location based occurrences.
          </p>
        </div>
        <div class="hidden md:flex justify-center self-center">
          <Image src={screen} alt="a screen" />
        </div>
      </div>
    </div>
  </section>
  <section class="bg-hero-topography-wavy-10 p-6 border border-slate-400 shadow-xs">
    <div class="mb-16 md:mb-0 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-9 gap-6 mx-auto my-6 text-slate-700">
      <div class="flex flex-col">
        <div class="justify-center self-center">
          <Image src={thumb} alt="a thumb up" class="mb-3 text-mustard-600 w-8 h-8" />
        </div>
        <div class="tracking-widest uppercase text-center justify-center self-center text-base font-thin">
          Locally sourced data
        </div>
      </div>
      <div class="flex flex-col">
        <div class="justify-center self-center">
          <Image src={thumb} alt="a thumbs up" class="mb-3 text-mustard-600 w-8 h-8" />
        </div>
        <div class="tracking-widest uppercase text-center justify-center self-center text-base font-thin">
          Address Reversals
        </div>
      </div>
      <div class="flex flex-col">
        <div class="justify-center self-center">
          <Image src={thumb} alt="a thumbs up" class="mb-3 text-mustard-600 w-8 h-8" />
        </div>
        <div class="tracking-widest uppercase text-center justify-center self-center text-base font-thin">
          Delivery Points
        </div>
      </div>
      <div class="flex flex-col">
        <div class="justify-center self-center">
          <Image src={thumb} alt="a thumbs up" class="mb-3 text-mustard-600 w-8 h-8" />
        </div>
        <div class="tracking-widest uppercase text-center justify-center self-center text-base font-thin">
          Mileposts
        </div>
      </div>
      <div class="flex flex-col">
        <div class="justify-center self-center">
          <Image src={thumb} alt="a thumbs up" class="mb-3 text-mustard-600 w-8 h-8" />
        </div>
        <div class="tracking-widest uppercase text-center justify-center self-center text-base font-thin">
          P.O. Boxes
        </div>
      </div>
      <div class="flex flex-col">
        <div class="justify-center self-center">
          <Image src={thumb} alt="a thumbs up" class="mb-3 text-mustard-600 w-8 h-8" />
        </div>
        <div class="tracking-widest uppercase text-center justify-center self-center text-base font-thin">
          Mapping library integration
        </div>
      </div>
      <div class="flex flex-col">
        <div class="justify-center self-center">
          <Image src={thumb} alt="a thumbs up" class="mb-3 text-mustard-600 w-8 h-8" />
        </div>
        <div class="tracking-widest uppercase text-center justify-center self-center text-base font-thin">
          Open License
        </div>
      </div>
      <div class="flex flex-col">
        <div class="justify-center self-center">
          <Image src={thumb} alt="a thumbs up" class="mb-3 text-mustard-600 w-8 h-8" />
        </div>
        <div class="tracking-widest uppercase text-center justify-center self-center text-base font-thin">Free</div>
      </div>
      <div class="flex flex-col">
        <div class="justify-center self-center">
          <Image src={thumb} alt="a thumbs up" class="mb-3 text-mustard-600 w-8 h-8" />
        </div>
        <div class="tracking-widest uppercase text-center justify-center self-center text-base font-thin">
          No Restrictions
        </div>
      </div>
    </div>
  </section>
</Chrome>
